/* Write your CSS here */

.card-container {
  border-style: solid;
  background-color: #0f172a;
  border-radius: 12px;
  text-align: center;
  padding: 20px;
  border-color: #475569;
  border-width: 0px;
  width: 259px;
  display: grid;
  align-items: baseline;
}

@media screen and (max-width: 578px) {
  .card-container {
    width: 224px;
  }
}

.logo {
  height: 150px;
  width: 150px;
  object-fit: contain;
  margin: auto;
}

@media screen and (max-width: 578px) {
  .logo {
    height: 80px;
    width: 80px;
  }
}

.heading {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 578px) {
  .heading {
    font-size: 18px;
  }
}

.result {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 15px;
}

@media screen and (max-width: 578px) {
  .result {
    font-size: 9px;
  }
}

.status {
  font-family: 'Bree Serif';
  font-size: 15px;
}

@media screen and (max-width: 578px) {
  .status {
    font-size: 12px;
  }
}

.won {
  color: #18ed66;
}

.loss {
  color: #e31a1a;
}
