/* Write your CSS here */

.match-card-container {
  display: flex;
  background-color: #0f172a;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  padding: 30px;
  border-radius: 12px;
  align-items: center;
}

.competing-team {
  color: #ffffff;
  font-weight: bold;
  font-family: 'Bree Serif';
  font-size: 25px;
}

.description {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 12px;
}

.description1 {
  text-align: end;
}

.team-logo {
  height: 180px;
  width: 180px;
  object-fit: contain;
}
